<html>
    <head>
        <title>Your title here</title>
    </head>

    <body>
        <form action="{{url_for('result')}}" method="POST">
            <input type="number" placeholder="Astronomical_Twilight_Night" id="Astronomical_Twilight_Night" name="Astronomical_Twilight_Night"><br>
            <input type="number" placeholder="Side_R" id="Side_R" name="Side_R"><br>
            <input type="number" placeholder="Timezone_US/Eastern" id="Timezone_US/Eastern" name="Timezone_US/Eastern"><br>
            <input type="number" placeholder="Timezone_US/Mountain" id="Timezone_US/Mountain" name="Timezone_US/Mountain"><br>
            <input type="number" placeholder="Timezone_US/Pacific" id="Timezone_US/Pacific" name="Timezone_US/Pacific"><br>
            <input type="number" placeholder="Station" id="Station" name="Station"><br>
            <input type="number" placeholder="Stop" id="Stop" name="Stop"><br>
            <input type="number" placeholder="Traffic_Signal" id="Traffic_Signal" name="Traffic_Signal"><br>
            <input type="number" placeholder="Rain" name="Rain"><br>
            <input type="number" placeholder="Hwy" id="Hwy" name="Hwy"><br>
            <input type="number" placeholder="Minute_Freq" id="Minute_Freq" name="Minute_Freq"><br>
            <input type="number" placeholder="Population_County_log" id="Population_County_log" name="Population_County_log"><br>
            <input type="number" placeholder="Street_Freq" id="Street_Freq" name="Street_Freq"><br>
            <input type="number" placeholder="State_Freq" id="State_Freq" name="State_Freq"><br>
            <input type="number" placeholder="Pressure_bc" id="Pressure_bc" name="Pressure_bc"><br>
            <button type = "submit" value = "Predict">Predict</button>
        </form>
    </body>
</html>